/build/
/.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies
/.packages
.pub-cache/
.pub/
/android/app/src/debug/AndroidManifest.xml
/android/app/src/profile/AndroidManifest.xml
/android/app/build/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/flutter_assets/
/ios/Flutter/flutter_export_environment.sh
/ios/Pods/
/ios/.symlinks/
*.jks
*.keystore
local.properties
